* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header {
  padding-top: 72px;
  padding-bottom: 72px;
}

main {
  min-height: 100%;
  padding-top: 72px;
  background-color: hsl(0deg, 0%, 40%);
  border-top: 8px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-left: -26px;
  padding: 16px 24px;
  width: fit-content;
}

.card {
  background-color: white;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding-left: 24px;
  padding-right: 24px;
  max-width: 415px;
}
